.vs/
obj/
bin/
packages/
/ITI.BBTB.Final/BBTB/Content/bin/Windows/Font/Font.xnb
/ITI.BBTB.Final/BBTB/Content/obj/Windows/monster.mgcontent
/ITI.BBTB.Final/BBTB/Content/obj/Windows/Sound/GunSound.mgcontent
/ITI.BBTB.Final/BBTB/Content/obj/Windows/tile.mgcontent
/ITI.BBTB.Final/BBTB/Content/obj/Windows/weapon.mgcontent
/ITI.BBTB.Final/Game1/Content/bin/Windows/BBTBplayer.xnb
/ITI.BBTB.Final/Game1/Content/bin/Windows/bullet.xnb
/ITI.BBTB.Final/Game1/Content/bin/Windows/DebugFont.xnb
/ITI.BBTB.Final/Game1/Content/bin/Windows/ground.xnb
/ITI.BBTB.Final/Game1/Content/bin/Windows/monster.xnb
/ITI.BBTB.Final/Game1/Content/bin/Windows/Sound/GunSound.xnb
/ITI.BBTB.Final/Game1/Content/bin/Windows/tile.xnb
/ITI.BBTB.Final/Game1/Content/bin/Windows/weapon.xnb
/ITI.BBTB.Final/Game1/Content/obj/Windows/.mgcontent
/ITI.BBTB.Final/Game1/Content/obj/Windows/BBTBplayer.mgcontent
/ITI.BBTB.Final/Game1/Content/obj/Windows/bullet.mgcontent
/ITI.BBTB.Final/Game1/Content/obj/Windows/DebugFont.mgcontent
/ITI.BBTB.Final/Game1/Content/obj/Windows/ground.mgcontent
/ITI.BBTB.Final/Game1/Content/obj/Windows/monster.mgcontent
/ITI.BBTB.Final/Game1/Content/obj/Windows/Sound/GunSound.mgcontent
/ITI.BBTB.Final/Game1/Content/obj/Windows/tile.mgcontent
/ITI.BBTB.Final/Game1/Content/obj/Windows/weapon.mgcontent
/ITI.BBTB.Final/BBTB/Content/bin/Windows/Font/Font.xnb
/ITI.BBTB.Final/BBTB/Content/obj/Windows/.mgcontent
/ITI.BBTB.Final/BBTB/Content/obj/Windows/BBTBplayer.mgcontent
/ITI.BBTB.Final/BBTB/Content/obj/Windows/bullet.mgcontent
/ITI.BBTB.Final/BBTB/Content/obj/Windows/Controls/button.mgcontent
/ITI.BBTB.Final/BBTB/Content/obj/Windows/DebugFont.mgcontent
/ITI.BBTB.Final/BBTB/Content/obj/Windows/Font/Font.mgcontent
/ITI.BBTB.Final/BBTB/Content/obj/Windows/ground.mgcontent
